import  /etc/biodiv/Caddyfile

gzip

proxy /kibana kibana:8001 {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /kibana
}

proxy /elasticsearch elasticsearch:9200 {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /elasticsearch
}

proxy / ui {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
}

