import  /etc/biodiv/Caddyfile

gzip

proxy /dwc-services dwcservices {
  proxy_header Host {host}
  proxy_header X-Real-IP {remote}
  proxy_header X-Forwarded-Proto {scheme}
  without /dwc-services
}

proxy /elasticsearch elasticsearch:9200 {
  proxy_header Host {host}
  proxy_header X-Real-IP {remote}
  proxy_header X-Forwarded-Proto {scheme}
  without /elasticsearch
}

proxy / biodivui {
  proxy_header Host {host}
  proxy_header X-Real-IP {remote}
  proxy_header X-Forwarded-Proto {scheme}
}

